@font-face {
    font-family: hkgrotesk;
    src: url("fonts/hkgrotesk-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: hkgrotesk;
    src: url("fonts/hkgrotesk-regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: hkgrotesk;
    src: url("fonts/hkgrotesk-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: hkgrotesk;
    src: url("fonts/hkgrotesk-bolditalic.woff") format("woff");
    font-style: italic;          
    font-weight: bold;
}
/* Global styles*/
body{
    --background-menu: hsl(0, 0%, 100%);
    --background: hsl(0, 0%, 94%);
    --background-cursor: hsl(0, 0%, 88%);
    --background-content: hsl(0, 0%, 82%);
    --gray:hsl(0, 0%, 30%);
    --primary: #000;
    --font: #000;

    margin: 0;
    overflow-x: hidden;
    font-family: hkgrotesk, sans-serif;
    background-color: var(--background);
}
p,li {
    margin: 0;
    font-size: .9em;
}
li {
    margin-bottom: 0.2em;
}
div.content:has(img) {
   background: unset;
   text-align: center;
   padding: 0;
}
h1 {
    margin: .25em 0;
    font-size: 2em;
}
h2 {
    margin: .25em 0;
    font-size: 1.5em;
}
h3 {
    margin: 0 0 .25em 0;
    font-size: 1.25em;    
}
ul {
    padding: 0 0 0 1em;
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
}
ul li::before {
    content: '·';
    color: var(--font);
    margin-right: .5em;
    margin-left: -.8em;
}
blockquote {
    font-style: italic;
    margin-inline-start: 1.25em;
    margin-inline-end: 1.25em;
    padding: 0;
}
p + p {
    margin: .5em 0 ;
}

 /* Specific styles */
#app, #wrapper, #links {
    pointer-events: none;
}
#wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--font);
    display: flex;
    justify-content: center;
}
#cursor {
    position: fixed;
    max-width: 40vw;
    background-color: var(--background-cursor);
    padding: 1.5em;
    pointer-events: all;
    z-index: 1;
}
#cursor:active, #cursor:focus {
    z-index:2;
}
#links {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: -2;
    transform: translate3d(0, 0, 0);
}
#content {
    width: 100%;
    position: relative;
    pointer-events: all;
}
.content {
    position: absolute;
    padding: .75em;
    max-width: calc(15vw + 15vh);
    background-color: var(--background-content);
    visibility: hidden;
    z-index:2;    
}
.content div {
    padding: 0.2em;
}
.content img, #cursor img {
    max-width: 100%;
    max-height: calc(20vw + 20vh);
    object-fit: contain;
}
.content:hover, .content:active, .content:focus{
    z-index: 2;
}
a {
    text-decoration:underline;
    line-height: 0.1em;
    color: var(--gray);
}
a:hover {
    color: var(--font);
}

a[href^="#"] {
    text-decoration: none;
    border-bottom: .075em dashed var(--primary);
}
.left{
    left: 5vw;
}
.right{
    right: 5vw;
}
#menu{
    z-index: 0;
    position: fixed;
    text-align: left;
    color: var(--font);
    pointer-events: all;
    font-size: 1em;
    height: 100vh;
}
#menu.active {
    z-index: 5;
}
#anchors{
    margin-top: 3em;
    position: relative;
    left: -100%;
    transition: all 0.3s ease-in-out;
    padding: 0.75em;
}
#anchors p {
    margin: 0;
    padding: 0.2em;
    font-size: 1em;
}
#anchors p:hover, #burger:hover{
    text-decoration: underline;
    cursor: pointer;
}
#menu.active #anchors{
   left: 0%;
   background-color: var(--background-menu);
}
#anchors .active{
    font-weight: bold;
}
footer{
    visibility: hidden;
    display:flex;
    justify-content: space-between;
    padding: 2em 2em 1.5em 2em;
    font-size: 1em;
    background-color: var(--background);
    color: var(--font);
}
footer img {
    vertical-align: top;
    margin-right: 1.5em;
    opacity: .75;
}

footer a:hover img, footer a:active img {
    opacity: 1;
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    body {
        font-size: 15px !important;
    }
    .content{
        max-width: 75vw;
        transform: unset !important
    }
    .content img, #cursor img {
        max-width: 100%;
        max-height: 75vw;
    }
    div.content:has(img) {
        background: var(--background);
    }
    #cursor{
        max-width: 85vw;
        left: unset;
        transform: unset;
        margin: auto;        
    }
    #menu{
        right: 0;
        text-align: right;
        font-size: 1.5em;
    }
    #anchors {
        left: unset;
        right: -100%;
    }
    #anchors p {
        margin: 0;
        padding: 0.2em;
        font-size: .9em;
    }
    #menu.active #anchors{
        left: unset;
        right: 0;
    }

    footer {
        display:unset;
        justify-content: center;
        margin: auto;
    }

    footer p {
        display: block;
        width: 100%;
        text-align: center;
    }
    footer p a:last-child img {
        margin-right: 0;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        --background-menu: hsl(0, 0%, 0%);
        --background: hsl(0, 0%, 6%);
        --background-cursor: hsl(0, 0%, 12%);
        --background-content: hsl(0, 0%, 18%);
        --gray: hsl(0, 0%, 70%);
        --primary: #fff;
        --font: #fff;

    }
    footer img {
        filter: invert(100%);
    }

}