body{
    margin: 0;
    background-color: rgba(245,245,245,1);
    overflow-x: hidden;
}
h1,h2,h3,p, li {
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
 }
hr{
    border-top: 0.2px solid black
}
#wrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#links{
    width: 100%;
    position: absolute;
    z-index: -2;
}
#caption {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#caption img{
    width: 50%;
}
#caption div{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 50%;
}
#caption h1{
    font-size: 2em;
}
#caption h2{
    font-size: 2em;
}
#content{
    width: 100%;
    position: relative;
}
#cursor{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 40vw;
    background-color: black;
    border-radius: 0.2em;
    padding: 2em;
    z-index: -1;
    color: white;
}
.left{
    left: 5vw;
}
.right{
    right: 5vw;
}
.content {
    position: absolute;
    padding: 1em;
    max-width: 25vw;    
    border-radius: 0.2em;
    font-size: 0.8em;
    background-color: white;
    border: 0.01em solid black;
    visibility: hidden
}
.content div{
    padding: 0.2em
}
.content img, #cursor img {
    max-width: 100%;
    max-height: 35vh;
    height: auto;
}
.actors {
    width: 10vw;
    height: 10vw;
    position: absolute;
    visibility: hidden

}
.actors a {
    cursor: pointer;
}
.actors img {
    border-radius: 50%;
    width: 100%;
    background-color: white;
}
p {
    margin: 0;
}

h2 {
    margin: .5em 0;
}

p + p {
    margin-top: 1em;
}
@media screen and (orientation: portrait) and (max-width: 800px) {
    .content.left, .content.right{
        left: 50%;
        right:unset;
        transform: translate(-50%, 0) !important;
    }
    .content{
        width: 80vw;
        max-width: unset;
    }
    .actors {
        width: 35vw;
        height: 35vw;
    }
    #cursor{
        width: 70vw;
    }
    #caption{
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: unset;
    }
    #caption h1{
        font-size: 2em;
    }
    #caption img{
        height: unset;
        width: 50%;
    }
    #caption{
        flex-direction: column;
    }
}