@font-face {
    font-family: hkgrotesk;
    src: url("./fonts/hkgrotesk-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: hkgrotesk;
    src: url("./fonts/hkgrotesk-regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: hkgrotesk;
    src: url("./fonts/hkgrotesk-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: hkgrotesk;
    src: url("./fonts/hkgrotesk-bolditalic.woff") format("woff");
    font-style: italic;          
    font-weight: bold;
}

body {
    font-family: hkgrotesk, sans-serif;
    --theme-color: hsl(150, 50%, 50%);
}